<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap을 불러오는 링크 -->
    <style>
      body {
        margin: 7px;
      }

      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1 style = "text-align: center; color: blue;"><a href = "{% url 'UsedCar:main' %}">똑똑한 중고차<a></h1>
    <h1>Welcome!</h1>
    Go to survey -> <a href = "{% url 'UsedCar:survey' %}">SURVEY</a>
  </body>
</html>
